<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
       http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd">


    <!--GenericObjectPoolConfig-->
    <bean name="genericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
        <property name="maxWaitMillis" value="10000" />
        <property name="maxTotal" value="8" />
        <property name="minIdle" value="0" />
        <property name="maxIdle" value="8" />
    </bean>


       <!--Jedis ClusterFactory-->
       <bean id="jedisClusterFactory" class="cn.zjc.jedis.cluster.JedisClusterFactory">
           <property name="location" value="redis-cluster.properties"/>
           <property name="connectionTime" value="3000"/>
           <property name="soTimeout" value="3000"/>
           <property name="maxRedirections" value="5"/>
           <property name="prefix" value="spring.redis.cluster"/>
           <property name="genericObjectPoolConfig" ref="genericObjectPoolConfig"/>

           <!--可以直接配置，也可以写在redis-cluster.properties -->
           <!--<property name="jedisClusterNodes">-->
               <!--<set>-->
                   <!--<value>localhost:6379</value>-->
               <!--</set>-->
           <!--</property>-->
       </bean>



</beans>    